
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1px solid black;
    padding: 0;
}

.calculator {
    width: 400px;
    border: 5px solid black;
    padding: 20px
}

.display {
    border: 2px solid black;
    height: 80px;
    margin-bottom: 20px;
    padding: 0 10px 10px 0;
    text-align: end;
    font-size: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 10px;
}

.digits {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-button {
    width: 80px;
    height: 80px;
    font-size: 24px;
    margin-right: 8px;
}

.right-button {
    width: 80px;
    height: 50px;
    font-size: 24px;
}