
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
}

button {
    border: 1px solid black;
    padding: 0;
    border-radius: 60%;
    font-weight: bold;
    font-size: 28px;
}

.calculator {
    width: 400px;
    border: 3px solid rgb(46, 45, 45);
    padding: 20px;   
    border-radius: 15px; 
    background-color: rgb(86, 86, 86);
}

.display {
    height: 80px;
    margin-bottom: 20px;
    padding: 0 10px 10px 0;
    text-align: end;
    font-size: 80px;
    background-color: rgb(175, 184, 189);
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(126, 129, 131);
    border-radius: 15px;
}

.digits {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-button {
    width: 80px;
    height: 80px;
    /* font-size: 24px; */
    margin-right: 8px;
}

.right-button {
    width: 80px;
    height: 50px;
    /* font-size: 24px; */
}

.digit {
    background-color: rgb(180, 187, 190);
}

.operator {
    background-color: rgb(154, 160, 175);
}

#clear {
    background-color: rgb(230, 84, 84);
}

#point, #equals {
    background-color: rgb(103, 87, 207);
}