
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1px solid black;
    padding: 0;
}

.calculator {
    width: 400px;
}

.display {
    border: 2px solid black;
    height: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.digits {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.digit {
    width: 80px;
    height: 80px;
    font-size: 24px;
    margin-right: 8px;
}

.operator {
    width: 70px;
    height: 50px;
    font-size: 24px;
}